/*
	 Invoice 
	 by Hasan movahed
	 http://baranweb.net
*/


@font-face {
	font-family: Vazir;
	src: url('fonts/vazir/Vazir.eot');
	src: url('fonts/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
		 url('fonts/vazir/Vazir.woff') format('woff'),
		 url('fonts/vazir/Vazir.ttf') format('truetype');
	font-weight: normal;
  }
		
  @font-face {
	font-family: Vazir;
	src: url('fonts/vazir/Vazir-Bold.eot');
	src: url('fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/vazir/Vazir-Bold.woff') format('woff'),
		 url('fonts/vazir/Vazir-Bold.ttf') format('truetype');
	font-weight: bold;
  }
  
  @font-face {
	font-family: Vazir;
	src: url('fonts/vazir/Vazir-Light.eot');
	src: url('fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/vazir/Vazir-Light.woff') format('woff'),
		 url('fonts/vazir/Vazir-Light.ttf') format('truetype');
	font-weight: 300;
  }

* { margin: 0; padding: 0; }
body { font: 14px/1.4 Vazir; direction: rtl }
#page-wrap { width: 70%; margin: 0 auto; }

textarea { border: 0; font: 14px Vazir; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 5px; }

#header { height: 22px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Vazir; text-decoration: uppercase; letter-spacing: 1px; padding: 8px 0px; }

#address { width:500px; height: 150px; float: right; }
#customer { overflow: hidden; }

#logo { text-align: right; float: left; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#customer-titleone { font-size: 20px; font-weight: bold; float: right; width: 490px; height: 38px; }
#destwo { width: 100%; height: 100px;}
#customer-title { font-size: 20px; font-weight: bold; float: right; width: 490px; height: 38px; }
#customer-des { font-size: 14px; font-weight: normal; float: right; width: 490px; height: 38px; }

#meta { margin-top: 1px; width: 300px; float: left; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }
#date { border: 0;font-size: 14px ; font-family: Vazir}

#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black; }
#items th { background: #eee; }
#items textarea { width: 100%; height: 50px; }
#items tr.item-row td { border: 0; vertical-align: top; }
#items td.description { width: 90px; }
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-left: 0; text-align: right; }
#items td.total-value { border-right: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; padding: 10px 2px; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Vazir;font-weight: bold; letter-spacing: 2px;   border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}
.due { float: right; margin-left: 4px}
textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

#desamount{width: 100% !important;height: 100px !important}
#arzesh{width: 40% !important;padding: 10px}
.total-value span {
	top: -15px;
    position: relative;
}

.emza{
	font-family: Vazir;
	font-weight: bold ; 
	font-size: 18px ;
}
.allemza{
	padding: 20px;
	clear: both
}
.lf {
	float: left;
} .ri{
  float: right;
}

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; right: -23px; font-family: Vazir; font-size: 14px; }